@import '../../../../styles/variables';

.container {
  background-color: $fondo-principal;
  border-radius: 1rem;
  padding: 2rem;
  animation: fadeIn 0.6s ease-in-out;
}

.dashboard-title {
  color: $titulo-color;
  font-weight: bold;
  text-shadow: 1px 1px 2px $sombra;
  animation: fadeInDown 0.6s ease-out;
}

.financial-card {
  background-color: $tarjeta-fondo;
  border: 1px solid $borde-suave;
  border-radius: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeInUp 0.5s ease-in-out;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px $resaltado-financiero;
    animation: bounceHover 0.5s;
  }

  .icon-style {
    color: $icono-navbar;
    animation: pulseGlow 2s infinite;
  }

  .card-title {
    color: $texto-principal;
  }

  .card-text {
    color: $texto-principal;
    font-size: 0.95rem;
  }
}
