@import '../../../../styles/variables';

.container {
  animation: fadeInUp 0.6s ease-out;
}

.card {
  background-color: $tarjeta-fondo;
  border: 1px solid $borde-suave;
  box-shadow: 0 4px 10px $sombra;
  border-radius: 1.5rem;
}

h2 {
  color: $titulo-color;
  font-weight: bold;
  animation: fadeInDown 0.5s ease-in;
}

.perfil-imagen {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid $icono-navbar;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px $sombra;
  &:hover {
    transform: scale(1.05);
    animation: pulseGlow 1s infinite;
    cursor: pointer;
  }
}

label {
  color: $texto-principal;
  font-weight: 500;
}

input, select {
  border: 1px solid $borde-suave;
  border-radius: 0.5rem;
  transition: border 0.3s ease;
  &:focus {
    border-color: $resaltado-financiero;
    box-shadow: 0 0 5px rgba(0, 168, 107, 0.3);
  }
}

button[type="submit"] {
  background-color: $resaltado-financiero;
  border: none;
  border-radius: 2rem;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  &:hover {
    background-color: lighten($resaltado-financiero, 10%);
    transform: scale(1.05);
    animation: bounceHover 0.6s;
  }
  i {
    margin-right: 8px;
  }
}
