<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow p-4 rounded-4" style="max-width: 400px; width: 100%;">
    <h4 class="text-center mb-3">Recuperar Contraseña</h4>
    
    <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
      
      <!-- Nueva Contraseña -->
      <div class="mb-3 position-relative">
        <label class="form-label">Nueva Contraseña</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-lock"></i></span>
          <input [type]="showPassword ? 'text' : 'password'" class="form-control"
                 formControlName="newPassword" placeholder="Ingresa nueva contraseña">
          <button type="button" class="btn btn-outline-secondary"
                  (click)="togglePasswordVisibility()">
            <i [class]="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
          </button>
        </div>
        <small *ngIf="recoveryForm.get('newPassword')?.invalid && recoveryForm.get('newPassword')?.touched"
               class="text-danger">Debe tener al menos 8 caracteres</small>
      </div>

      <!-- Botón de Iniciar Sesión -->
      <div class="text-center mt-3">
        <a [routerLink]="['/usuarios/login']" class="text-decoration-none">
          <i class="fas fa-sign-in-alt"></i> Iniciar sesión
        </a>
      </div>

    </form>
  </div>
</div>
