<nav class="d-flex flex-column flex-shrink-0 p-3 bg-light min-vh-100 border-end text-center" style="width: 375px;">
    <div class="row" style="display: flex; align-items: center;">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16" style="margin-right: 10px;">
            <path d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
            <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3z"/>
        </svg>
        <h2 class="mt-3">Financiero Laboral</h2>
    </div>
    <br>
    <a [routerLink]="['/usuarios/dashboard']" class="d-flex align-items-center mb-3 text-decoration-none text-dark">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-caret-left-fill me-2" viewBox="0 0 16 16">
            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
        </svg>
        <h5 class="fw-bold ms-2">Regresar</h5> 
    </a>
    <hr>
    <h4 class="text-center mt-2">Ingresos</h4>
    <ul class="nav nav-pills flex-column mt-2">
        <li class="nav-item">
            <a [routerLink]="['/financiero-laboral/ingresos/agregar']" class="nav-link text-dark fw-semibold mt-2">Agregar</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/financiero-laboral/ingresos/editar']" class="nav-link text-dark fw-semibold mt-2">Editar</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/financiero-laboral/ingresos/eliminar']" class="nav-link text-dark fw-semibold mt-2">Borrar</a>
        </li>
    </ul>
    <hr>
    <h4 class="text-center mt-2">Gastos</h4>
    <ul class="nav nav-pills flex-column mt-2">
        <li class="nav-item">
            <a [routerLink]="['/financiero-laboral/gastos/agregar']" class="nav-link text-dark fw-semibold mt-2">Agregar</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/financiero-laboral/gastos/editar']" class="nav-link text-dark fw-semibold mt-2">Editar</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/financiero-laboral/gastos/eliminar']" class="nav-link text-dark fw-semibold mt-2">Borrar</a>
        </li>
    </ul>
    <hr>
    <a [routerLink]="['/ahorros/inicio']" class="text-decoration-none">
        <h4 class="text-center text-dark mt-4">Ahorros Laborales</h4>
    </a><br>
    <hr><br>
    <a class="text-decoration-none">
        <h4 class="text-center text-dark">Reportes Laborales</h4>
    </a><br>
</nav>
