@import '../../../../styles/variables';

.login-container {
  background-color: $fondo-principal;
  min-height: 100vh; // Para cubrir toda la pantalla
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}


.login-form {
  background-color: $tarjeta-fondo;
  padding: 2.5rem;
  border-radius: 2xl;
  box-shadow: 0 8px 16px $sombra;
  width: 100%;
  max-width: 400px;
  animation: fadeInUp 0.8s ease-in-out;
}

h2.text-center {
  color: $titulo-color;
  margin-bottom: 2rem;
  font-weight: 600;
  // animation: pulseGlow 2s infinite;
}

.form-label {
  color: $texto-principal;
  font-weight: 500;
  margin-top: 1rem;
}

.input-group-text {
  background-color: $fondo-principal;
  border: 1px solid $borde-suave;
  color: $icono-navbar;
  animation: bounce 2s infinite;
}

.form-control {
  border: 1px solid $borde-suave;
  border-left: none;
  transition: all 0.3s ease;
  &:focus {
    box-shadow: 0 0 5px $resaltado-financiero;
    border-color: $resaltado-financiero;
  }
}

.btn-primary {
  background: $degradado-navbar;
  border: none;
  font-weight: bold;
  animation: buttonHover 2s infinite;
  transition: background 0.3s ease;
  &:hover {
    background: $neon-efecto;
    transform: scale(1.03);
  }
}

.error-text {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.3rem;
  i {
    margin-right: 5px;
  }
}

.valid-text {
  color: $resaltado-financiero;
  font-size: 0.875rem;
  margin-top: 0.3rem;
  i {
    margin-right: 5px;
  }
}

a.text-decoration-none {
  color: $titulo-navbar;
  font-size: 0.9rem;
  transition: color 0.3s ease;
  &:hover {
    color: $icono-navbar;
    text-decoration: underline;
  }
}

.d-flex {
  margin-top: 1.5rem;
}
