<app-navbar-d></app-navbar-d>

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <nav class="d-flex flex-column flex-shrink-0 p-3 bg-light min-vh-100 border-end text-center" style="width: 250px;">
                <a [routerLink]="['/financiero-personal/ingresos']" class="d-flex align-items-center mb-3 text-decoration-none text-dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-caret-left-fill me-2" viewBox="0 0 16 16">
                        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                    </svg>
                    <h5 class="fw-bold ms-2">Regresar</h5>
                </a>
                <hr>
                <h4 class="text-center">Ingresos</h4>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a [routerLink]="['/financiero-personal/ingresos/agregar']" class="nav-link text-dark fw-semibold">Agregar</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/financiero-personal/ingresos/editar']" class="nav-link text-dark fw-semibold">Editar</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/financiero-personal/ingresos/borrar']" class="nav-link text-dark fw-semibold">Borrar</a>
                    </li>
                    <hr><br>
                    <a [routerLink]="['/financiero-personal/gastos']" class="text-decoration-none">
                        <h4 class="text-center text-dark">Gastos</h4>
                    </a><br>
                    <hr><br>
                    <a [routerLink]="['']" class="text-decoration-none">
                        <h4 class="text-center text-dark">Ahorros Personales</h4>
                    </a><br>
                    <hr><br>
                    <a [routerLink]="['/reportes/generar']" class="text-decoration-none">
                        <h4 class="text-center text-dark">Reportes Personales</h4>
                    </a><br>
                </ul>

            </nav>
        </div>
        
        <div class="col-10">
            <div class="container">
                <div class="row align-items-center mt-3">
                    <div class="col">
                        <h1>Agregar Ingresos</h1>
                    </div>
                    <div class="col d-flex justify-content-end gap-2" data-bs-toggle="modal" data-bs-target="#modalAgregarCategoriaIngreso">
                        <button type="button" class="btn btn-light rounded-pill px-3">Agregar Categoria Ingreso</button>
                    </div>
                </div>

                <div class="table-responsive mt-3">
                    <table class="table table-light table-striped text-center">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Monto</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Método de pago</th>
                                <th scope="col">Periodicidad</th>
                                <th scope="col">Fecha</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr>
                                <td>Salario mensual</td>
                                <td>Ingreso Laboral</td>
                                <td>$2,500,000 COP</td>
                                <td>Pago mensual por el trabajo.</td>
                                <td>Transferencia bancaria</td>
                                <td>Mensual</td>
                                <td>31/01/2025</td>
                            </tr>
                            <tr>
                                <td>Ingresos por Freelance (Programación)</td>
                                <td>Ingreso Autónomo</td>
                                <td>$800,000 COP</td>
                                <td>Pago por trabajos independientes realizados como programador</td>
                                <td>PayPal</td>
                                <td>Quincenal</td>
                                <td>15/02/2025</td>
                            </tr>
                            <tr>
                                <td>Renta de propiedad</td>
                                <td>Ingreso Pasivo</td>
                                <td>$1,200,000 COP</td>
                                <td>Ingreso proveniente del alquiler de un apartamento.</td>
                                <td>Efectivo</td>
                                <td>Mensual</td>
                                <td>1/03/2025</td>
                            </tr>
                            <tr>
                                <td>Ingresos por ventas en línea</td>
                                <td>Ingreso Autónomo</td>
                                <td>$500,000 COP</td>
                                <td>Dinero generado por la venta de productos artesanales.</td>
                                <td>MercadoPago</td>
                                <td>Únicamente</td>
                                <td>9/12/2024</td>
                            </tr>
                            <tr>
                                <td>Intereses de inversión (CDT)</td>
                                <td>Ingreso Pasivo</td>
                                <td>$300,000 COP</td>
                                <td>Ganancia obtenida por la inversión en un CDT en un banco.</td>
                                <td>Transferencia bancaria</td>
                                <td>Trimestral</td>
                                <td>15/01/2025</td>
                            </tr>
                            <tr>
                                <td colspan="7" data-bs-toggle="modal" data-bs-target="#modalAgregarIngreso">
                                    <button type="button" class="btn btn-success rounded-pill px-3" >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                                        </svg>
                                        Agregar Ingreso 
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>
    </div>
</div>

<!-- Modal para Agregar Categoria Ingreso -->

<div class="modal fade" id="modalAgregarCategoriaIngreso" tabindex="-1" aria-labelledby="modalAgregarCategoriaIngresoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-tittle" id="modalAgregarCategoriaIngresoLabel">Agregar Nueva Categoría de Ingreso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="nombreCategoriaIngreso" class="form-label">Nombre de la Nueva Categoría</label>
                        <input type="text" class="form-control" id="nombreCategoriaIngreso">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Agregar Nueva Categoria</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Agregar un Ingreso -->

<div class="modal fade" id="modalAgregarIngreso" tabindex="-1" aria-labelledby="modalAgregarIngresoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarIngresoLabel">Agregar Ingreso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="nombreIngreso" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombreIngreso">
                    </div>
                    <div class="mb-3">
                        <label for="categoriaIngreso" class="form-label">Categoría</label>
                        <select class="form-select" id="categoriaIngreso">
                            <option>Ingreso Laboral</option>
                            <option>Ingreso Autónomo</option>
                            <option>Ingreso Pasivo</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="montoIngreso" class="form-label">Monto</label>
                        <input type="number" class="form-control" id="montoIngreso">
                    </div>
                    <div class="mb-3">
                        <label for="descripcionIngreso" class="form-label">Descripción</label>
                        <textarea class="form-control" id="descripcionIngreso" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="metodoPago" class="form-label">Método de Pago</label>
                        <input type="text" class="form-control" id="metodoPago">
                    </div>
                    <div class="mb-3">
                        <label for="periodicidadIngreso" class="form-label">Periodicidad</label>
                        <select class="form-select" id="periodicidadIngreso">
                            <option>Únicamente</option>
                            <option>Semanal</option>
                            <option>Quincenal</option>
                            <option>Mensual</option>
                            <option>Trimestral</option>
                            <option>Semestral</option>
                            <option>Anual</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="fechaIngreso" class="form-label">Fecha</label>
                        <input type="date" class="form-control" id="fechaIngreso">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Agregar Ingreso</button>
            </div>
        </div>
    </div>
</div>
<p>agregar-ingresos works!</p>
