@import '../../../../styles/variables';

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: $fondo-principal;
  animation: fadeIn 0.8s ease-in-out;
}

.register-form {
  background-color: $tarjeta-fondo;
  border: 1px solid $borde-suave;
  border-radius: 1.5rem;
  padding: 2rem;
  box-shadow: 0 4px 10px $sombra;
  max-width: 800px;
  width: 100%;
  animation: fadeInUp 1s ease-in-out;
}

h2 {
  color: $titulo-color;
  font-weight: 700;
  margin-bottom: 1.5rem;
  animation: fadeInDown 1s ease-in-out;
}

.form-label {
  color: $texto-principal;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.input-group {
  transition: all 0.3s ease;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  
  .input-group-text {
    background-color: lighten($icono-navbar, 40%);
    border: none;
    color: $icono-navbar;
  }

  input,
  select {
    border: none;
    border-left: 1px solid $borde-suave;
    transition: box-shadow 0.3s ease;
    &:focus {
      box-shadow: 0 0 5px rgba(0,168,107,0.3);
      outline: none;
    }
  }
}

.btn-primary {
  background-color: $icono-navbar;
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 2rem;
  color: white;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  animation: buttonHover 2s infinite;

  &:hover {
    background-color: $hover-navbar;
    box-shadow: 0 0 10px rgba(0,168,107,0.3);
    transform: scale(1.05);
  }
}

.btn-outline-secondary {
  border: 2px solid $icono-navbar;
  color: $icono-navbar;
  background-color: transparent;
  padding: 0.6rem 1.5rem;
  border-radius: 2rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: $hover-navbar;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,168,107,0.3);
  }
}

@media (max-width: 768px) {
  .register-form {
    padding: 1.5rem;
  }

  .input-group {
    margin-bottom: 1rem;
  }
}
